flows.json
[{"id":"f989b3af9f8729f6","type":"tab","label":"HFPM DASHBAORD","disabled":false,"info":""},{"id":"232e067f5dd82afd","type":"debug","z":"f989b3af9f8729f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":130,"y":320,"wires":[]},{"id":"7e79625e7e8959c9","type":"function","z":"f989b3af9f8729f6","name":"pre-token","func":"global.set(\"hb\",msg.payload.hb)\nglobal.set(\"ppd\",msg.payload.ppd)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"em\",msg.payload.em)\n\nvar apikey=\"c153e776-e345-473b-b7a4-a57db2d090ab\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":160,"wires":[["5e8296b73661b6b2"]]},{"id":"5e8296b73661b6b2","type":"http request","z":"f989b3af9f8729f6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"credentials":{},"x":350,"y":160,"wires":[["f5993535ac27d74c","6fc05cfcbb0f384d"]]},{"id":"f5993535ac27d74c","type":"debug","z":"f989b3af9f8729f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"6fc05cfcbb0f384d","type":"function","z":"f989b3af9f8729f6","name":"Pre Prediction","func":"var hb = global.get(\"hb\")\nvar ppd = global.get(\"ppd\")\nvar ch = global.get(\"ch\")\nvar bm = global.get(\"bm\")\nvar ag = global.get(\"ag\")\nvar s = global.get(\"s\")\nvar fh = global.get(\"fh\")\nvar sm = global.get(\"sm\")\nvar em = global.get(\"em\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\n                \"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\n                \"values\":[[hb,ppd,ch,bm,ag,s,fh,sm,em]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":60,"wires":[["830753d7bdc38233"]]},{"id":"05626bb5b0e29ef4","type":"debug","z":"f989b3af9f8729f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":140,"wires":[]},{"id":"28a5a8410474afba","type":"inject","z":"f989b3af9f8729f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["7e79625e7e8959c9"]]},{"id":"b21f30e02d679c7b","type":"debug","z":"f989b3af9f8729f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":60,"wires":[]},{"id":"6efdce206f3d94f8","type":"function","z":"f989b3af9f8729f6","name":"Parsing","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.probablity = msg.payload.predictions[0].values[0][1][0];\n        msg.payload = \"Not at Risk\";\n    }\nelse \n    {\n        msg.probability = msg.payload.predictions[0].values[0][1][1];\n        msg.payload = \"At Risk\";\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":80,"wires":[["b21f30e02d679c7b","de77e081d6f4df97"]]},{"id":"de77e081d6f4df97","type":"ui_text","z":"f989b3af9f8729f6","group":"80c2766c.ace4c8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1060,"y":100,"wires":[]},{"id":"e3d9f368515bb23c","type":"ui_form","z":"f989b3af9f8729f6","name":"","label":"","group":"80c2766c.ace4c8","order":1,"width":0,"height":0,"options":[{"label":"AVERAGE HEART BEATS ( Per Minute )","value":"hb","type":"number","required":true,"rows":null},{"label":" PALPITATIONS PER DAY","value":"ppd","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"ch","type":"number","required":true,"rows":null},{"label":"BMI","value":"bm","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX (M or F)","value":"s","type":"text","required":true,"rows":null},{"label":"FAMILY HISTORY (Y or N)","value":"fh","type":"text","required":true,"rows":null},{"label":"SMOKER ( In Last 5 Years : Y or N )","value":"sm","type":"text","required":true,"rows":null},{"label":"EXERCISE ( Minutes Per Week )","value":"em","type":"number","required":true,"rows":null}],"formValue":{"hb":"","ppd":"","ch":"","bm":"","ag":"","s":"","fh":"","sm":"","em":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":110,"y":240,"wires":[["232e067f5dd82afd","7e79625e7e8959c9"]]},{"id":"cd2d63fb1afeda19","type":"ui_text","z":"f989b3af9f8729f6","group":"80c2766c.ace4c8","order":2,"width":0,"height":0,"name":"","label":"Score","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1050,"y":240,"wires":[]},{"id":"b5d11f85ea067816","type":"debug","z":"f989b3af9f8729f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":200,"wires":[]},{"id":"9a50f96ea0cd28fd","type":"function","z":"f989b3af9f8729f6","name":"","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.payload = msg.payload.predictions[0].values[0][1][0];\n       \n    }\nelse \n    {\n        msg.payload = msg.payload.predictions[0].values[0][1][1];\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":220,"wires":[["b5d11f85ea067816","cd2d63fb1afeda19"]]},{"id":"830753d7bdc38233","type":"http request","z":"f989b3af9f8729f6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/c021ccb7-c676-479d-ad83-585a1b46172d/predictions?version=2022-07-15","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":730,"y":140,"wires":[["05626bb5b0e29ef4","6efdce206f3d94f8","9a50f96ea0cd28fd"]]},{"id":"80c2766c.ace4c8","type":"ui_group","name":"Default","tab":"547fcc14.7f90b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"547fcc14.7f90b4","type":"ui_tab","z":"a4b58694.dd7a08","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]